body {
  font-family: -apple-system, BlinkMacSystemFont, "Avenir Next", "Avenir",
    "Segoe UI", "Lucida Grande", "Helvetica Neue", "Helvetica", "Fira Sans",
    "Roboto", "Noto", "Droid Sans", "Cantarell", "Oxygen", "Ubuntu",
    "Franklin Gothic Medium", "Century Gothic", "Liberation Sans", sans-serif;
  text-align: center;
  padding: 0px;
  margin: 0px;
}

.application {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.logo {
  width: 70%;
}
