@import 'variables';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
  font-family: "Candara", sans-serif;
  padding: 0px;
  margin: 0px;
  color: $black;
}

a {
  color: $site-color-1;
  &:visited {
    color: $site-color-1;
  }
  &:hover {
    color: $site-color-2;
  }
}

.application {
  min-height: 100vh;
}

.blurbs {
  min-height: 150px;
  .blurb-link {
    display: block;
  }
}


.split-jumbo {
  background-color: $grey;
}
